.posts {
    margin: 5vh;
}

.nobull {
    list-style-type: none;
}

.post {
    background-color: #fff;
    border: 1px;
    border-color: #ccc;
    padding: 12px 24px;
    font-size: 14px;
    width: 85vw;
    text-align: left;
}

.post:hover {
    background-color: #fafafa;
}

.text {
    color: #333;
    font-size: 13pt;
}

.author {
    color: #999;
    font-size: 13pt;
}

.date {
    position: absolute;
    right: 15vw;
}

.action {
    position: absolute;
    right: 5vw;
    background-color: white;
    border: 0px;
    padding: 12px 24px;
    font-size: 14px;
}
.action:hover {
    background-color: #cf3021;
    color: white;
}