.banner {
    background-color: gray;
    height: 100px;
    width: 100wh;
}

.title {
    position: absolute;
    left: 10vw;
    top: -5px;
    color: white;
}

.subtitle {
    position: absolute;
    left: 10vw;
    margin-top: 50px;
    color: white;
}